name: Continuous integration

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

env:
  CARGO_TERM_COLOR: always

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Fmt
      run: cargo fmt --all -- --check
    - name: Clippy
      run: cargo clippy -- -D warnings

  build:
    runs-on: ubuntu-latest
    steps:
    - name: Build
      run: cargo build --verbose
    - name: Run tests
      run: cargo test --verbose